extends layout
body(ng-app="formApp", ng-controller="formController") 
  form
    #name-group.form-group
      label Name
      input.form-control(type='text', name='name', placeholder='Bruce Wayne', ng-model='formData.name')
      span.help-block
    #superhero-group.form-group
      label Superhero Alias
      input.form-control(type='text', name='superheroAlias', placeholder='Caped Crusader', ng-model='formData.superheroAlias')
      span.help-block
    button.btn.btn-success.btn-lg.btn-block(type='submit')
      span.glyphicon.glyphicon-flash
      | Submit!
    pre
     {{ formData }}
