/* ###### head.jade ###### */
/* line 3, ../../sass/app.scss */
.nav-bar.row {
  width: 90%;
}

/* line 6, ../../sass/app.scss */
.logo-navbar {
  float: left;
  display: inline;
}

/* line 10, ../../sass/app.scss */
ul.top-right-navbar {
  list-style: none;
  float: right;
}
/* line 13, ../../sass/app.scss */
ul.top-right-navbar li {
  display: inline;
  margin-right: 10px;
}

/* ###### login.jade ###### */
/* line 20, ../../sass/app.scss */
.login-form {
  width: 80%;
  margin: auto;
}

/* line 24, ../../sass/app.scss */
.login-signup-btn {
  float: right;
}

/* ###### signUp.jade ###### */
/* line 29, ../../sass/app.scss */
.sign-up-form {
  width: 80%;
  margin: auto;
}

/* line 33, ../../sass/app.scss */
.sliderExample {
  border: 1px solid #f0f0f0;
  margin: 2em;
}

/* ###### login.jade ###### */
/**
 * Media Queries 
 */
/* ########### Large desktop ########### */
/* ########### Portrait tablet to landscape and desktop ########### */
/* ########### Landscape phone to portrait tablet ########### */
/* ########### Landscape phones and down########### */
