/**************************
      * head.html
 **************************/
/* line 5, ../../sass/style.scss */
.nav-bar.row {
  width: 90%;
}

/* line 8, ../../sass/style.scss */
.logo-navbar {
  float: left;
  margin-left: 50px;
  display: inline;
}

/* line 13, ../../sass/style.scss */
ul.top-right-navbar {
  list-style: none;
  float: right;
}
/* line 16, ../../sass/style.scss */
ul.top-right-navbar li {
  display: inline;
  margin-right: 10px;
}

/**************************
      * index.html
 **************************/
/* line 24, ../../sass/style.scss */
b, strong {
  color: red;
  font-size: 15px;
}

/* line 28, ../../sass/style.scss */
li {
  margin-bottom: 8px;
}

/**************************
      * signUp.html
 **************************/
/* line 36, ../../sass/style.scss */
.sign-up-form {
  width: 80%;
  margin: auto;
}

/**************************
        * login.html
 **************************/
/* line 45, ../../sass/style.scss */
.login-form {
  width: 80%;
  margin: auto;
}

/* line 49, ../../sass/style.scss */
.login-signup-btn {
  float: right;
}

/**************************
      * dashboard.html
 **************************/
/* line 58, ../../sass/style.scss */
.meal-form {
  width: 80%;
  margin: auto;
}

/*********************************************************
                  *** MEDIA QUERIES ***
*********************************************************/
/**************************
      * Large Desktop
***************************/
/**************************
        * Tablet
***************************/
/**************************
    * Landscape Mobile
***************************/
/**************************
        * Mobile
***************************/
@media (max-width: 480px) {
  /* line 108, ../../sass/style.scss */
  #index-content {
    margin-left: 3%;
  }
}
